# Python
__pycache__/
*.pyc
*.pyd
*.pyo
*.whl
*.log
.env

# Virtual Environment
.venv/
venv/
env/

# VS Code
.vscode/
# Uncomment the following lines to ignore specific VS Code settings files
# except for the ones you want to share with your team
# .vscode/*
# !.vscode/settings.json
# !.vscode/tasks.json
# !.vscode/launch.json
# !.vscode/extensions.json

final_model/